<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SIT-Execution" parallel="tests" thread-count="3">
    <suite-files>
        <suite-file path="ProjectManagement.xml" />
    </suite-files>

    <suite-files>
    <suite-file path="RequestTracker.xml" />
    </suite-files>

    <suite-files>
    <suite-file path="Dashboards.xml" />
    </suite-files>
</suite>
